@model TorreWebapp.Models.PersonResult

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
<form asp-controller="Person" asp-action="Results" method="get">
    <p>
        Name: <input type="text" name="name" /> (and)
        Skill/Role: <input type="text" name="skill" />(and)
        Orgnanization: <input type="text" name="organization" />
        <input type="submit" value="Filter" />

        @Html.ValidationMessage("CustomError")
    </p>
</form>
